/* body {
  background-image: url(./img/pattern.jpg);
  font-family: 'Slabo 27px', serif;
  margin: 0px;
}

section {
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
  position: relative;
  /* top: 70px; */
